@import "abstracts/include";

.c-main    { color: var(--c-main); }
.c-alt     { color: var(--c-alt); }
.c-error   { color: var(--c-error); }
.c-success { color: var(--c-success); }

.c-grey    { color: var(--c-grey-mid); }
