@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeUp {
    from { opacity: 0; transform: translateY(#{gs(1)}); }
    to { opacity: 1; transform: none; }
}

@keyframes fadeDown {
    from { opacity: 0; transform: translateY(#{gs(-1)}); }
    to { opacity: 1; transform: none; }
}
