// ----------------------------------------------------------------------- Sizes
$sizes: ('tiny', 'small', 'medium', 'large', 'huge');
@mixin sizes {
    @each $size in $sizes {
        &.#{$size} {
            width: var(--size-#{$size});
            height: var(--size-#{$size});
        }
    }
}
@mixin sizesComponents() {
    @each $size in $sizes {
        :host(.#{$size}) {
            width: var(--size-#{$size});
            height: var(--size-#{$size});
        }
    }
}

// ----------------------------------------------------------------------- Forms
%input {
    display: inline-block;
    height: gs(1);
    font-size: var(--fs-main);
    font-family: var(--ff-main);
    padding: 0 gs(1/4);
    border: var(--border-light);
    color: var(--c-text);
    vertical-align: top;
    @extend %rounded;
    @extend %shadow;
    outline: none;
    transition: all var(--ani-time);

    &:focus {
        border-color: var(--c-main);
        box-shadow: 0 3px 4px var(--c-main-opacity);
    }

    &.error {
        border-color: var(--c-error);
        &:focus {
            box-shadow: 0 3px 4px var(--c-error-opacity);
        }
    }
}


// ------------------------------------------------------------------------ Misc
%cover {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
%rounded {
    border-radius: var(--border-radius);
}
%shadow {
    box-shadow: 0 3px 4px var(--c-shadow);
}
%shadow-large {
    box-shadow: 0 3px 50px var(--c-shadow-large);
}
%cover {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

%align-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
