.tile {
    background-color: var(--c-white);
    @extend %rounded;

    // TODO: Move to component
    &.product {

        --padding: gs(1/2);
        --content-height: gs(1.5);

        position: relative;
        @extend %shadow;
        padding: var(--padding);
        overflow: hidden;
        transition: box-shadow calc(var(--ani-time)*2);



        header {
            position: relative;
            display: block;
            width: calc(100%);
            padding-bottom: 75%;
            overflow: hidden;
            @extend %rounded;
            margin-bottom: var(--content-height);

            img {
                position: absolute;
                @extend %align-center;
                width: 100%;
            }
            &:after {
                content: '';
                z-index: 100;
                background-color: var(--c-main);
                opacity: 0;
                @extend %cover;
                transition: all var(--ani-time);
            }
        }



        .details {
            position: absolute;
            width: 100%;
            left: 0;
            bottom: 0;
            background-color: var(--c-white);
            transition: all calc(var(--ani-time)/2);

            padding:  var(--padding);
            z-index: 102;
            // display: none;


            .title {
                margin-bottom: 0.5rem;
            }
            .subtitle { font-weight: 100; }
            .price {
                float: right;
                line-height: 3rem;
                letter-spacing: 0.15rem;
            }
        }




        &:hover {
            z-index: 200;
            @extend %shadow-large;
            header {
                &:after {
                    opacity: 0.5;
                }
            }
            .details {
                padding-top: calc(var(--padding) / 2);
                transform: translateY(-5rem);
                transition: all calc(var(--ani-time)*1.15);
            }
        }
    }
}
