//--------------------------------------------------------------- Import library
@import "../abstracts/include";


//----------------------------------------------------------------- Import fonts
// @import url('https://fonts.googleapis.com/css?family=Oxygen:300,400,600');
// @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600');



//--------------------------------------------------------------- Variable setup
:root {
    //------------------------------------------------------------ Main settings
    --base-size: 10px;
    --grid-size: 4rem;
    --ani-time: 0.3s;

    //-------------------------------------------------------------------- Sizes
    --size-tiny: 1rem;
    --size-xsmall: 1.5rem;
    --size-small: 2rem;
    --size-medium: 3rem;
    --size-large: 4rem;
    --size-huge: 6rem;

    //------------------------------------------------------------------- Layout
    --border-radius: 0.3rem;
    --border-light: 1px solid var(--c-grey-light);
    --border-lightest: 1px solid var(--c-grey-lightest);
    --grid-item-padding: 0.5rem;

    --header-height: gs(1.5);


    //------------------------------------------------------------------- Colors
    @include color('black', #3d4755);
    @include color('grey-dark', #54647a);
    @include color('grey-mid', #92a1b6);
    @include color('grey-light', #c2cddd);
    @include color('grey-lightest', #dfe9f9);
    @include color('white-off', #fafbfc);
    @include color('white', #f0f8f8);
    @include color('blue', #3577ac);
    @include color('teal', #35aca8);
    @include color('green', #35b05e);
    @include color('red', #d45858);
    @include color('orange', #ffc636);
    @include color('purple', #914cc4);

    @include color('bg', #f0f8f8);
    @include color('main', #54647a);
    @include color('alt', #3577ac);
    @include color('error', #d45858);
    @include color('success', #35b05e);

    --c-text: var(--c-grey-dark);
    --c-text-light: var(--c-grey-mid);

    --c-shadow: rgba(#dddfe0, 0.5);
    --c-shadow-large: rgba(#9b9fa2, 0.9);

    --header-color: transparent;


    //--------------------------------------------------------------- Typography
    --fs-base:       var(--base-size);
    --fs-tiny:       1rem;
    --fs-small:      1.2rem;
    --fs-main:       1.4rem;
    --fs-large:      1.8rem;
    --fs-grand:      2.4rem;
    --fs-huge:       4.8rem;

    --f-line-height: 1.5em;

    // --ff-heading:    'Oxygen', sans-serif;
    --ff-main:    'brandon-grotesque', sans-serif;
    --ff-heading: 'lust-display', serif;

}


html {
    opacity: 0;
    transition: all var(--ani-time);
    &.wf-active {
        opacity: 1;
    }
}


h1 {
    display: inline-block;
    position: relative;
    letter-spacing: 3.5px;
    &.super {
        font-size: 7.2rem;
    }
}
h2 {
    letter-spacing: 3px;
    line-height: 3.6rem;
    &.super {
        font-size: 3.6rem;
        line-height: 4.8rem;
    }
}
h3 {
    margin-bottom: gs(1/2);

    &:after {
        content: "";
        position: absolute;
        width: 100%;
        left: 0;
        height: 2px;
        bottom: 0.6rem;
        background-color: var(--c-main);
        z-index: -1;
    }
}
h4, h5, h6 {
    font-family: var(--ff-main);
}
h4 {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    @extend %fs-main;
}

a {
    color: var(--c-main);
    text-decoration: none;
    letter-spacing: 0.5px;
}

//---------------------------------------------------------------------- Buttons
button {
    position: relative;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 4px;
    background-color: var(--c-main);
    border: none;
    color: var(--c-white);
    padding: 0 gs(1/2);

    &:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        border: 2px solid var(--c-main);
        transition: all calc(var(--ani-time)/3);
    }
    &:hover:after {
        left: -0.4rem;
        right: -0.4rem;
        top: -0.4rem;
        bottom: -0.4rem;
    }
}


//---------------------------------------------------------------------- Layouts
header {
    position: fixed;
    z-index: 100;
}
section {
    position: absolute;
    min-height: 100vh;
    width: 100vw;
}
section.title {
    min-height: 100vh;
    overflow: hidden;
    .background {
        position: relative;
        background-image: url(/images/theme/blackcast/header.jpg);
        background-size: cover;
        background-position: center center;
        transition: all var(--ani-time);
        transition-delay: calc(var(--ani-time) * 1.5);
        &:after {
            @extend %cover;
            content: '';
            background-color: var(--c-main);
            opacity: 0;
            transition: opacity var(--ani-time);
        }

        .center {
            position: absolute;
            left: calc(100% - #{gs(1.5)});
            top: calc(50% + #{gs(-3)});
            text-align: left;
            width: gs(9);
            transition: all var(--ani-time);
            transition-delay: calc(var(--ani-time) * 0.5);
        }
        h1 {
            margin-left: gs(-1);
        }
        h2 {
            margin-top: gs(-1/2);
        }
        button {
            margin-top: gs(1);
        }
    }

    .borders {
        position: absolute;
        right: 0;
        bottom: 0;
        height: 100%;
        width: calc(14/24 * 100%);
        z-index: -1;
        background-image: url(/images/theme/blackcast/header-alt.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        &:after, &:before {
            position: absolute;
            content: '';
            background-color: var(--c-grey-light);
        }
        &:before {
            top: 50%;
            width: 1px;
            bottom: gs(1/2);
            right: gs(1);
        }
        &:after {
            left: 50%;
            height: 1px;
            right: gs(1/2);
            bottom: gs(1);
        }
    }

    &:not(.open) {
        .background {
            transition-delay: 0s;
        }
        .background:after {
            transition-delay: calc(var(--ani-time) * 0.7);
        }
    }
    &.open {
        .background {
            .center {
                transform: translateY(#{gs(2)});
                opacity: 0;
            }
            &:after {
                opacity: 1;
            }
        }
    }
}
