body > header {
    background-color: var(--header-color, var(--c-main));
    height: var(--header-height);
    width: 100%;

    .logo {
        height: gs(1);
        margin: gs(1);
        fill: var(--c-main);
        &.white {
            fill: var(--c-white);
        }
    }
}
